# lukscontainerfilenew.desktop
# Defines the Dolphin template "lukscontainerfilenew", which
# creates an empty file that can be formatted into a LUKS container file.

[Desktop Entry]
Type=Link
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=lukscontainerfile
URL=.source/lukscontainerfile.luks
Name[en_US]=LUKS container file...
Comment[en_US]=Specify new file's name (16 chars max, alphanum only) with or without '.luks' extension.
