# lukscontainerfile.desktop
# Defines the Dolphin service menu "lukscontainerfile", which
# formats, mounts, and unmounts LUKS container files.

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=lukscontainerfile
MimeType=application/luks;
Actions=format;mount;unmount;
Name[en_US]=LUKS container file handler
Comment[en_US]=Mount / unmount container file SOMETHING.luks on /mnt/SOMETHING.

[Desktop Action format]
Name=Format LUKS2 container file...
Icon=lukscontainerfile
Exec="/usr/share/kservices5/ServiceMenus/lukscontainerfile-format.sh" %U

[Desktop Action mount]
Name=Mount LUKS container file...
Icon=media-mount
Exec="/usr/share/kservices5/ServiceMenus/lukscontainerfile-mount.sh" %U

[Desktop Action unmount]
Name=Unmount LUKS container file...
Icon=media-eject
Exec="/usr/share/kservices5/ServiceMenus/lukscontainerfile-unmount.sh" %U
